body{
    background-image: url(../img/code-1076533.jpg);
    background-repeat: repeat-y;
    background-attachment: local;
    background-size:auto;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}
header{
    background: rgb(198, 211, 235);
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.boas-vindas{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.boas-vindas h1{
    font-size: 10px;
    color: white;
}
main{     
    background-size: cover;
    padding:0;
    opacity: 0.96;
    background-color: rgb(255, 255, 255);
    border-radius: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragrafo-comum{
    text-align: center;
}
.conteudo-cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0,.6);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;       
}
.conteudo-cabecalho h1{
    margin-bottom: 10px;
}
.conteudo-em-si{
    display: flex;
    flex-wrap: wrap;
}
.conteudo-em-si-topico{
    margin-top: 20px;
    margin-bottom: 20px;
}
.conteudo-em-si-topico-imagem-texto{
    display: flex;
    flex-direction:row;
    margin-top: 15px;
    margin-bottom: 15px;
}
.conteudo-em-si-topico-imagem-texto-coluna{
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.conteudo-em-si-topico-imagem-texto-coluna p{
    margin-bottom: 30px;
    margin-top: 10px;
}
.conteudo-em-si-topico-imagem-texto img{
    margin-right: 10px;
}
.conteudo h1{
    color:white;
}
.conteudo h2{
    font-size: 20px;
}
.conteudo p{
    color:white;
    font-size: 30px;
}
.conteudo-em-si h3{
    font-size: 10px;
    text-shadow: none;
}
.conteudo-em-si a{
    color: blue;
    text-decoration: none;
}
.conteudo-em-si a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
footer{
    padding: 30px 80px;
    background: rgb(169, 230, 181);
    text-shadow: 2px 2px 3px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-coluna{
    display: flex;
    flex-direction:column;
    align-items:first baseline; 
}
.footer-vertical{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.titulo-footer{
    color: white;
}
.lista-padrao{
    list-style:none;
}
.lista-padrao::before{
    content: '\2022';
    margin: 0 2px;
    color: white;
}
.conteudo-footer{
    color: white;
    font-size: small;
}
.barra{
    font-size: 120px;
    text-shadow: none;
}
.logo{
    font-size: 25px;
    padding: 5px;
    border-radius: 10px ;
    transition: background-color 0.5s;
    border-style: solid;
    color: rgb(0, 0, 0);

}
.logo:hover{
    border-color: rgb(41, 95, 232);
    background-color: rgb(0, 0, 0);
    color:rgb(41, 95, 232);
}
.pesquisa{
    width: 50%;
    height: 15px;
    font-size: 40px;
}
.campotxt{
    text-align: right;
    background: radial-gradient(transparent,rgb(46,46,46));
    margin-left: 450px;
    border-radius: 5px;
}
.monitor{
    width: 600px;
}
.menu{
    width:17px;
    height:17px;
    transition: border-style 1s;
}
.menu :hover{
    margin-bottom: 2px;
}
.navigation{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-footer{
    width: 30%;
    display: flex;
    flex-wrap: wrap;

}
.navigation-footer-curto{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.navigation li{
    display: inline-block;
}
.navigation .active{
    padding: 5px;
    border-style:solid;
    border-radius: 10px;
}
.active{
    font-size: 13px;
    transition: background-color 0.5s;
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0);
    border-radius: 15px;
}
.active:hover{
    border-color: rgb(41, 95, 232);
    background-color: rgb(0, 0, 0);
    color:rgb(41, 95, 232);
}
.tituloComum{
    color: white;
    background-color: rgb(122, 122, 122);
}
.topico-maior{

    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}
.topicos{
    padding: 50px;
    margin: 50px;
    display: grid;
    grid-template-areas: 
    "i1 i2 i3" 
    "i4 i5 i6"
    "i7 i8 i9";
    gap: 50px;
    background: rgb(115, 177, 238);
    border-radius: 30px;    
    
}
.topicos-compra{
    padding: 50px;
    margin: 50px;
    display: grid;
    grid-template-areas: 
    "i1 i2"
    "i3 i4"
    "i5 i6"
    "i7 i8";
    gap: 50px;
    background: rgb(115, 177, 238);
    border-radius: 30px; 
}
#item1{
    grid-area: 'i1';
}
#item1{
    grid-area: 'i1';
}
#item2{
    grid-area: 'i2';
}
#item3{
    grid-area: 'i3';
}
#item4{
    grid-area: 'i4';
}
#item5{
    grid-area: 'i5';
}
#item6{
    grid-area: 'i6';
}
#item7{
    grid-area: 'i7';
}
#item8{
    grid-area: 'i8';
}
#item9{
    grid-area: 'i9';
}
#item10{
    grid-area: 'i10';
}
.topicos-linha{
    background: rgb(46, 46, 46);
    display: flex;
}
.ex-topico{
    display: flex;
    flex-direction: column;
    
}
.caixa{
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    width: 300;
    height: 300 px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
}
.caixa:hover{
    transform: scale(1.1);
}
.icon{
    margin: 0px;
    transition: transform 0.2s;
}
.icon:hover{
    transform: scale(1.19);
}
.label{
    display: block;
    border-radius: 15px;
    width: 100%
}
.button{
    display: block;
    border-radius: 15px;
    width: 103%;
}

.credencial{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(115, 177, 238);
    padding: 20px;
    border-radius: 30px;
    height: 100%;
    margin: 100px;
    
}




