
.topico-maior-superior{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgb(82, 125, 235);
}
.topico-maior-superior-a{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgb(41, 95, 232);
}
.active-main{
    color: black;
    text-shadow: none;
    margin: 15px;
    transition: background-color 0.5s
}
.active-main:hover{
    text-decoration: underline;
}
.titulo-main{
    font-size: 30px;
    color: black;
    text-shadow: none;
    margin: 15px;
    transition: transform 0.2s;
    text-transform: capitalize;
}
.titulo-main:hover{
    transform: scale(1.1);
}
#margem{
    margin: 5px;
}
.search-box{
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
}
.search-btl{
    color: blue;
}
.login{
    border-radius: 30px;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(115, 177, 238);
}

